.form {
    padding: 10px;
    margin: 5px;
    line-height: 1.5;
    text-align: center;
}

.form__fieldset {
    background-color:hsl(56, 38%, 61%);
    border-style: none;
    border-radius: 5px;
    box-shadow: 10px -10px 19px -7px;
    height: 275px;
}

.form__legend {
    padding:5px 10px;
    background-color: coral;
    border-radius: 5px;
    font-weight: bold;
}

.form__label {
    font-weight: bold;
}

.form__labelText{
    width: 160px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
}

.form__input {
    padding: 5px 10px;
    max-width: 100px;
    border-radius: 5px;
    background-color: bisque;
    border: 1px solid grey;
    font-weight: bold;
}

.form__currency {
    padding: 5px 0;
    max-width: 100px;
    border-radius: 5px;
    width: 100%;
    background-color: bisque;
    border: 1px solid grey;
    font-weight: bold;
}

.form__currentRates {
    padding: 5px 0px;
    font-size: 15px;
    text-align:right;
    color:rgba(255, 255, 255, 0.63);
}
